.about__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 250ms ease-in-out;
}

.about__inner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 80%;
  border-radius: 20px;
  margin-top: 20px;
}

.about__inner-photo {
  display: block;
  position: relative;
  border-radius: 20px;
  transition: all 250ms ease-out;
  filter: brightness(0.6) contrast(1);
  margin: 20px;
  padding: 5px;
}

.about__inner-desc {
  display: block;
  margin: 10px;
  width: 0%;
  text-align: center;
  transition: all 250ms ease-out;
  font-size: 18px;
}

.about__inner-button-forv {
  opacity: 0.7;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 64px;
  height: 64px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.about__inner-button-back {
  opacity: 0.7;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  border: none;
  display: block;
  width: 64px;
  height: 64px;
}

@media (max-width: 450px) {
  .about__inner-desc {
    font-size: 16px;
  }
  .about__inner-button-forv {
    width: 32px;
    height: 32px;
    background-size: cover;
  }
  .about__inner-button-back {
    width: 32px;
    background-size: cover;
    height: 32px;
  }
  .about__inner-photo {
    width: 100%;
  }
  .about__inner-desc {
    width: 100%;
  }
}
