* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 95%;
}
.nav {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 100vh;
}
.nav__inner-back {
  display: flex;
  width: 100%;
  transition: all 250ms ease-in-out;
  background-position: center;
  background-attachment: fixed;
}
.nav__inner-item {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(500px);
  background-attachment: fixed;
  background-size: cover;
  box-shadow: 0 0 200px 130px rgb(0 0 0) inset;
}
.nav__inner-ref {
  display: flex;
  width: 100%;
  height: 75%;
  justify-content: center;
}
.nav__inner-reference {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 300%;
  font-weight: normal;
  text-decoration: none;
  color: aliceblue;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 10px;
  transition: all 250ms ease-in-out;
  justify-content: center;
}
.nav__inner-span {
  position: absolute;
  display: block;
  width: 100%;
  color: #FFFFFF;
  font-size: 200%;
  top: 35%;
  height: min-content;
  transform: rotate(90deg);
  transition: all 350ms ease-in-out;
}
.nav__inner-descr {
  position: absolute;
  display: hidden;
  color: transparent;
  top: 10%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 10px;
  background: rgb(255 255 255 / 8%);
  backdrop-filter: blur(5px);
}
.nav__inner-descr p {
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  opacity: 0;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 1px;
}
.nav__inner-descr:nth-child(2) {
  top: 0%;
  left: 40%;
}
table {
  display: none;
  margin: auto 1%;
  width: 100%;
  color: rgb(0, 0, 0);
}
.nav__inner-descr-ref {
  display: block;
  width: 100px;
}
.nav__inner-descr-img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
td {
  margin: auto;
  width: 100px;
  height: 65px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}
thead,
tbody {
  margin: 0 auto;
  width: 400px;
}
tbody .nav__inner-descr-img {
  width: 45%;
  height: 45%;
  opacity: 0.8;
}
.contact__inner {
  display: none;
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 0.6;
  align-items: center;
}
.contact__inner-ref {
  position: relative;
  display: block;
  width: 75px;
  height: 45px;
}
.contact__inner-img {
  width: 45px;
  height: 45px;
  margin: auto 0;
}
.nav__inner-ref:hover span {
  opacity: 1;
  top: 5%;
  left: 5%;
  margin-bottom: 100%;
  font-size: 150%;
  transform: rotate(0deg);
}
.nav__inner-ref:hover {
  background: none;
  filter: brightness(145%);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.nav__inner-ref:hover .nav__inner-descr {
  display: flex;
  width: 96%;
  height: 48%;
  left: 2%;
  top: 50%;
  color: white;
  justify-content: space-around;
}
.nav__inner-ref:hover .nav__inner-descr p {
  opacity: 1;
}
.nav__inner-ref:hover table {
  display: flex;
  flex-direction: column;
}
.nav__inner-ref:hover .contact__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__inner-descr-img:hover {
  opacity: 1;
}
.contact__inner-img:hover {
  box-shadow: 0px 0px 10px 15px rgba(255, 255, 255, 0.101),
    0px 0px 2px 5px rgba(255, 255, 255, 0.121) inset;
  border-radius: 50%;
  transition: all 300ms;
}

@media (max-width: 940px) {
  .nav__inner-descr p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .nav {
    flex-direction: column;
  }
  .nav__inner {
    flex-direction: column;
  }

  .nav__inner-back {
    flex-direction: column;
    height: 25%;
    align-items: center;
    margin: 0;
  }
  .nav__inner-item {
    flex-direction: column;
    height: 100%;
  }
  .nav__inner-ref {
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .nav__inner-reference {
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .nav__inner-span {
    transform: none;
    top: 15%;
    left: 5%;
    font-size: 50px;
  }
  .nav__inner-descr p {
    font-size: 24px;
  }
}
@media (max-width: 450px) {
  .nav__inner {
    width: 100%;
  }
  .nav__inner-span {
    font-size: 30px;
  }
  .nav__inner-descr p {
    font-size: 16px;
  }
}
